.App{
   display: flex; 
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.statistics-page {
    padding: 20px;
  }

  .flavanoids-table, .gamma-table {
    overflow-x: scroll !important;
  }
  

  @media screen and (min-width: 512px) {
    .flavanoids-table, .gamma-table {
      overflow-x: hidden !important;
    }
  }
  